<?xml version="1.0" encoding="utf-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5"
>

<mime-mapping>
	<extension>webapp</extension>
	<mime-type>application/x-web-app-manifest+json</mime-type>
</mime-mapping>
<mime-mapping>
	<extension>appcache</extension>
	<mime-type>text/cache-manifest</mime-type>
</mime-mapping>

<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
	<welcome-file>index.htm</welcome-file>
</welcome-file-list>
<!-- Material Management -->
<servlet>
	<servlet-name>data.GetMaterials</servlet-name>
	<servlet-class>pada.servlet.data.GetMaterials</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.GetMaterials</servlet-name>
	<url-pattern>/exe/data/GetMaterials</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.CreateMaterial</servlet-name>
	<servlet-class>pada.servlet.data.CreateMaterial</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.CreateMaterial</servlet-name>
	<url-pattern>/exe/data/CreateMaterial</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.UpdateMaterial</servlet-name>
	<servlet-class>pada.servlet.data.UpdateMaterial</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.UpdateMaterial</servlet-name>
	<url-pattern>/exe/data/UpdateMaterial</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.DeleteMaterial</servlet-name>
	<servlet-class>pada.servlet.data.DeleteMaterial</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.DeleteMaterial</servlet-name>
	<url-pattern>/exe/data/DeleteMaterial</url-pattern>
</servlet-mapping>
</web-app>