<?xml version="1.0" encoding="utf-8"?>
<web-app
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5"
>

<mime-mapping>
	<extension>webapp</extension>
	<mime-type>application/x-web-app-manifest+json</mime-type>
</mime-mapping>
<mime-mapping>
	<extension>appcache</extension>
	<mime-type>text/cache-manifest</mime-type>
</mime-mapping>

<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
	<welcome-file>index.htm</welcome-file>
</welcome-file-list>
<!-- Server Startup Listener -->
<listener>
	<listener-class>pada.ContextListener</listener-class>
</listener>
<!-- Material Management -->
<servlet>
	<servlet-name>data.GetMaterials</servlet-name>
	<servlet-class>pada.servlet.data.GetMaterials</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.GetMaterials</servlet-name>
	<url-pattern>/exe/data/GetMaterials</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.CreateMaterial</servlet-name>
	<servlet-class>pada.servlet.data.CreateMaterial</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.CreateMaterial</servlet-name>
	<url-pattern>/exe/data/CreateMaterial</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.ModifyMaterial</servlet-name>
	<servlet-class>pada.servlet.data.ModifyMaterial</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.ModifyMaterial</servlet-name>
	<url-pattern>/exe/data/ModifyMaterial</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.DeleteMaterial</servlet-name>
	<servlet-class>pada.servlet.data.DeleteMaterial</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.DeleteMaterial</servlet-name>
	<url-pattern>/exe/data/DeleteMaterial</url-pattern>
</servlet-mapping>
<!-- Cookbook Management -->
<servlet>
	<servlet-name>data.GetCookbooks</servlet-name>
	<servlet-class>pada.servlet.data.GetCookbooks</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.GetCookbooks</servlet-name>
	<url-pattern>/exe/data/GetCookbooks</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.CreateCookbook</servlet-name>
	<servlet-class>pada.servlet.data.CreateCookbook</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.CreateCookbook</servlet-name>
	<url-pattern>/exe/data/CreateCookbook</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.ModifyCookbook</servlet-name>
	<servlet-class>pada.servlet.data.ModifyCookbook</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.ModifyCookbook</servlet-name>
	<url-pattern>/exe/data/ModifyCookbook</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.DeleteCookbook</servlet-name>
	<servlet-class>pada.servlet.data.DeleteCookbook</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.DeleteCookbook</servlet-name>
	<url-pattern>/exe/data/DeleteCookbook</url-pattern>
</servlet-mapping>
<!-- Geometry Set Management -->
<servlet>
	<servlet-name>data.GetGeometrySets</servlet-name>
	<servlet-class>pada.servlet.data.GetGeometrySets</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.GetGeometrySets</servlet-name>
	<url-pattern>/exe/data/GetGeometrySets</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.GetGeometrySet</servlet-name>
	<servlet-class>pada.servlet.data.GetGeometrySet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.GetGeometrySet</servlet-name>
	<url-pattern>/exe/data/GetGeometrySet</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.CreateGeometrySet</servlet-name>
	<servlet-class>pada.servlet.data.CreateGeometrySet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.CreateGeometrySet</servlet-name>
	<url-pattern>/exe/data/CreateGeometrySet</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.ModifyGeometrySet</servlet-name>
	<servlet-class>pada.servlet.data.ModifyGeometrySet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.ModifyGeometrySet</servlet-name>
	<url-pattern>/exe/data/ModifyGeometrySet</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.DeleteGeometrySet</servlet-name>
	<servlet-class>pada.servlet.data.DeleteGeometrySet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.DeleteGeometrySet</servlet-name>
	<url-pattern>/exe/data/DeleteGeometrySet</url-pattern>
</servlet-mapping>
<!-- Material Base Management -->
<servlet>
	<servlet-name>data.GetMaterialBaseSummary</servlet-name>
	<servlet-class>pada.servlet.data.GetMaterialBaseSummary</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.GetMaterialBaseSummary</servlet-name>
	<url-pattern>/exe/data/GetMaterialBaseSummary</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.GenerateMaterialBases</servlet-name>
	<servlet-class>pada.servlet.data.GenerateMaterialBases</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.GenerateMaterialBases</servlet-name>
	<url-pattern>/exe/data/GenerateMaterialBases</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>data.DeleteMaterialBases</servlet-name>
	<servlet-class>pada.servlet.data.DeleteMaterialBases</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>data.DeleteMaterialBases</servlet-name>
	<url-pattern>/exe/data/DeleteMaterialBases</url-pattern>
</servlet-mapping>
</web-app>